.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trackInfoContainer {
  margin: 20px 0;
}

.trackImg {
  width: 200px;
  height: 200px;
}

.trackInfo {
  margin-left: 30px;
}

.trackHeader {
  margin: 0;
}