.track {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trackCover {
  width: 70px;
  height: 70px;
  flex: 0 0 auto;
}

.trackContainer {
  width: 200px;
  margin: 0 auto 0 20px;
}

.trackArtist {
  font-size: 12;
  color: gray;
}